.weatherAppTitle {
    display: inline-block;
}

.clockContainer {
    float: right;
}

img[src=''] 
{
  display: none;
}

.locationIcon {
   display: flex;
  align-items: center;
}

.useMyLocationText {
  padding: 5px;
   vertical-align: middle;
}